@charset "UTF-8";
/*폰트*/
*{
	margin:0px;
	padding:0px;
}
html, body {/*footer설정*/
	height: 100%;
	margin: 0;
	padding: 0;
}
/*body 전체*/
body {
	font-family: "IBM Plex Sans KR", sans-serif;
	font-weight: bold;
	background: #F9F9F9;
	display: flex;/*footer설정*/
	flex-direction: column;/*footer설정*/
	min-height: 100vh;/*footer설정*/
}
/*전체 컨텐츠 영역 70%*/
#content_wrap {
	width: 70%;
	margin:0 auto;
}
/*a, li태그 기본스타일 없애기*/
a {
	text-decoration: none;
	color: inherit;
}
li{
	list-style-type: none;
}

/*header레이아웃*/
#header {
	width: 100%;
	height: 80px;
	position: fixed; /* 화면 상단에 고정 */
	top: 0; /* 화면의 맨 위에 배치 */
	z-index: 9999; /* 다른 요소보다 위에 표시 */
	background-color: #ffffff;
	border-bottom: 1px solid #E2E2E2;
}
#header_top_nav{
	width: 70%;
	margin: 0 auto;
}
#content_wrap{
	flex: 1;
}
/*footer레이아웃*/
#footer {
	width: 100%;
	z-index: 100;
	background-color: #ffffff;
	border-top: 1px solid #E2E2E2;
	font-size: 14px;
	color: #6B6B6B;
	height: 110px;
}
#footer_content1{
	width: 70%;
	margin: 0 auto;
}
.footer_nav{
	padding: 15px 0 15px 0;
}
.footer_nav>li{
	float: left;
	padding:0 10px;
	border-left: 2px solid gray;
}
.footer_nav>li:first-child{
	border:0px;
	padding-left: 0px;
}
#footer_content1 .footer_info{
	clear: both;
}
/*로그인, 회원가입 nav*/
#info_nav {
	right: 20px;
	float: right;
}
#info_nav>ul>li {
	float: left;
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
}
#info_nav>ul>li>a{
	text-decoration: none;
	color: #000000;
}
/*로고*/
#logo {
	float: left;
	padding-left:13px;
}
/*승차권예매, 조회/변경/취소 nav*/
#menu_nav>ul>li {
	float: left;
	margin-left: 25px;
	line-height: 45px;
	font-size: 21px;
	font-weight: bold;
}
.navbar{
	background-color:#68B3CE !important;
}
/*header 메뉴*/
a.nav-link{
	font-size:20px;
	color:#ffffff;
}

/*메인css*/
/*조회 부분 가운데 정렬*/
#reserve_search{
	margin-top: 120px;
	width:90%;
	position: relative;
	left: 50%;
	padding-top: 20px;
	transform: translateX(-50%);
	clear: both !important;
}
/*메인페이지 조회부분 content*/
#reserve_content1{
	padding-bottom:40px;
	background-color: #68B3CE;
	margin: 0 auto;
}
/*content 제목*/
.content_title{
	color:#ffffff;
	font-size:20px;
	margin:10px 0;
}
.content_title>i{
	margin-right: 5px;
}
/* 아이콘*/
i.title_icon{
	padding:0 8px 0 0;
}
/*편도, 왕복 탭 부분*/
button.nav-link{
	font-size: 19px;
	color:#ffffff;
}
.nav-tabs{
	border-bottom:1px solid #68B3CE;
}
/* 배차 부분*/
table#dispatch{
	table-layout: fixed;
	width: 100%; /* 테이블의 전체 너비를 화면에 맞게 설정 */
	border-collapse: collapse; /* 테이블 셀 사이의 간격을 없앰 */
}
#dispatch #col1{
	width: 12%;
}
#dispatch #col2{
	width: 20.666%;
}
#dispatch #col3, #dispatch #col4{
	width: 23%;
}
#dispatch #col5{
	width: 8.666%;
}
#dispatch #col6{
	width: 12.666%;
}


/*편도, 왕복 탭 클릭시 하단 부분*/
#myTabContent
{
	width: 100%;
	height:150px;
	border-radius: 0 10px 10px 10px;
	background-color:#ffffff;
	font-size: 18px;
}
/*출발지, 선택지 부분*/
#myTabContent tr,#myTabContent td{
	padding-top:20px;
	padding-left:20px;
}
#myTabContent td.age{
	width :50px;
	padding-top:13px;
	padding-left:13px;
}
.departureTerminal > input, .arrivalTerminal > input, .search_date > input{
	width:200px;
	float:left;
}
.departureTerminal > button, .arrivalTerminal > button, .search_date > button{
	float:right;
}
.departureTerminal, .arrivalTerminal{
	width: 270px;
	margin-top:20px;
}
/*출발지, 도착지 modal 레이아웃*/
.reserve.modal-content{
	margin-top: 120px;
}
.modal-xl {
	--bs-modal-width:800px;
}
.modal-body{
	margin:0 auto;
	padding:30px;
	font-size: 16px;
}
.tmList li {
	display: inline;
}
.tmList{
	background-color: #ECF1F5;
}
div[name="startLayer"] > strong, div[name="endLayer"] > strong{
	font-size: 19px;
}
div[name="startLayer"] > strong > i, div[name="endLayer"] > strong > i{
	padding-right:5px;
}
div[name="startLayer"]{
	width:48%;
	float:left;
	margin-bottom:30px;
	padding:10px;
	background-color: #ECF1F5;
}
div[name="endLayer"]{
	width:48%;
	float:right;
	margin-bottom:30px;
	padding:10px;
	background-color: #ECF1F5;
}
.modal-footer{
	clear: both;
}
/*날짜*/
.search_date{
	width: 200px;
}
/*배차정보조회하기 버튼*/
.btn_get_dispatches{
	font-weight: bold;
}
/*배차조회 테이블*/
#reserve_content2{
	margin: 0 auto;
}
.dispatchTitle{
	font-size: 20px;
	margin:20px 0 15px 0;
}
.dispatchTitle > i{
	padding-right:5px;
}
.tablefortd table {
	margin: auto; /* 테이블 가운데 정렬 */
}
#comfirm-peopleNo{
	border-collapse: collapse; /* 셀 사이의 간격을 없앰 */
	width: 80%;
	margin-top: 10%;
}

#comfirm-peopleNo .underline{
	border-bottom: 1px solid darkgray; /* 테이블 셀에 테두리를 추가 */
}
/*좌석*/
.seat-table {
	border-collapse: collapse;
	width: 75%;
	margin-left: 15px;
}
#picked-seat-amount, #remain-choice{
	display: inline;
}

#finish_pick_seats {
	background: #68B3CE;
	float: right;
	width: 80px;
	height: 35px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
}
.seat-table th, .seat-table td {
	border: 1px solid black;
	text-align: center;
	width:20% /* td 폭 균등하게 분배 */
}
/* 3번째 열의 테두리를 없애는 스타일 마지막 라인은 남김.*/
.hidden {
	display: none;
}
.choiced{
	background-color: #68B3CE;
}
#header_bottom_search {
	clear: both;
}

.seat-table tr:not(:last-child) td:nth-child(3) {
	border-bottom: none;
	border-top: none;
}
.seat-table td img, .seat-table th img{
	width: 70%;
	height: auto;
}
.seat-table th:nth-child(2){
	border-bottom : none;
	border-right : none;
}
.seat-table th:nth-child(3){
	border-left : none;
}
.seat-container {
	position: relative; /* 포지션을 상대적으로 지정하여 내부 요소의 위치를 조정 */
	width: 100%; /* 부모 요소에 꽉 차게 설정 */
}
.seat-container span {
	position: absolute; /* 포지션을 절대적으로 지정하여 이미지 위에 위치시킴 */
	top: 50%; /* 상단 위치를 중앙으로 이동 */
	left: 50%; /* 좌측 위치를 중앙으로 이동 */
	transform: translate(-50%, -50%); /* 중앙 정렬을 위해 이동 */
	font-size: 14px; /* 숫자의 크기 설정 */
	color: black; /* 숫자의 색상 설정 */
}
/*예매정보모달창*/
#seatInfoModal{
	margin-top: 90px;
}
img.seat{
	width:40px;
	height: auto;
}

/*로그인 페이지*/
.container{
	margin-top:90px;
	padding-bottom: 30px;
}
div.bg-white{
	margin: 0 auto;
	width:550px;
}
.justify-content-md-center{
	margin: 0 auto;
}
.d-grid>.btn-secondary{
	background-color: #68B3CE;
	font-weight: bold;
	border: 1px solid #68B3CE;
}
/*회원가입 페이지*/
#join_content1{
	padding-top:80px;
	width:30%;
	margin: 0 auto;
}
#join_content1 .content_title{
	margin-top:130px;
	color: #000000;
	font-size:20px;
	font-family: "IBM Plex Sans KR", sans-serif;
}
#join_content1 > form{
	margin-top:15px;
}
#join_content1 .form-group{
	margin-bottom:15px;
}
#join_content1 .form-group .btn{
	background: #68B3CE;
	color: black;
	border: 1px solid #68B3CE;
	font-weight: bold;
	float: right;
	margin-right: 10px;
}

/*마이페이지_회원정보*/
#mypage_info_content1, #mycard_info_content, #mycard_insert_content{
	width: 80%;
	float: left;
	padding-top:115px;
	margin-bottom:20px;
}
#mypage_info_content1>.content_title, #manager_info_content1>.content_title{
	color: #000000;
	font-size: 25px;
	text-align: center;
}
.content_title>.fa-credit-card{
	padding-right: 5px;
}
.myInfo, .myCardInfo, .myCardInsert{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.myInfo tr,.myInfo td,.myInfo th,
.myCardInfo tr,.myCardInfo td, .myCardInfo th,
.myCardInsert tr, .myCardInsert th, .myCardInsert td{
	font-size:18px;
	border:1px solid #DEE2E6;
	height: 50px;
}
.myInfo th,.myCardInfo th, .myCardInsert th{
	text-align:center;
	background: #68B3CE;
	color:#ffffff;
	width: 150px;
}
.myInfo td{
	width: 250px;
}

/*마이페이지_자주 쓰는 카드*/
#mycard_info_content>.content_title, #mycard_insert_content>.content_title {
	color: #000000;
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}
.myCardInfo table, .myCardInsert table {
	width: 100%;
}
.myCardInfo button, .myCardInsert button {
	background: #68B3CE;
	float: right;
	width: 80px;
	height: 35px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
}
.myCardInsert #mycardName{
	width: 380px;
}

.myCardInsert input{
	width: 80px;
}
#insertMyCard{
	border: 1px solid ;
}

/*관리자페이지*/
#manager_info_content1{
	padding-top: 120px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	margin-bottom:30px;
}
#manager_info_content1>.myInfo{
	width:60%;
}
/*관리자페이지 사이드*/
#side{
	width:20%;
	float:left;
	height: 100vh;
	padding:125px 0 50px 20px;
	background: #68B3CE;
}
#side a{
	color:#ffffff;
	font-size: 19px;
}
/*관리자페이지 배차관리*/
#manager_route_content1{
	margin-top:120px;
	padding:0 50px 50px 50px;
	float: left;
	width: 80%;
}

#manager_route_content1>.content_title{
	font-size:25px;
	color:#000000;
}
/*배차등록 모달*/
.modal-title{
	font-weight: bold;
}
#manager_route_content1>.modal-content{
	margin-top: 120px;
	width:520px;
}
#dispatchModal .select_title{
	width: 80px;
	height: 38px;
	line-height: 38px;
}
#dispatchModal .route_select {
	width:500px;
	padding-left:10px;
	clear: both;
}
#dispatchModal .route_select select, #dispatchModal .route_select p, #dispatchModal .route_select #dateTimeInput{
	float:left;
}
#dispatchModal .form-select{
	width:170px;
	margin-left: 10px;
}
#dateTimeInput{
	width:230px;
}
/*결제내역페이지*/
#manager_payment_content1{
	width: 80%;
	margin-top: 120px;
	padding:0 50px 50px 50px;
	float: left;
}
#manager_payment_content1 > .content_title{
	font-size: 25px;
	color:#000000;
}

/*결제로그인페이지*/
.scrollable-content {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 5px;
}

.mt-bottom {
	margin-bottom: 20px;
}

/*결제완료페이지*/
#ticket_container {
	background-color: #dcdcdc;
	padding: 20px;
	border-radius: 10px;
}
#successText {
	margin-top: 120px;
	text-align: center;
}

#ticket_ok_content1 {
	text-align: center;
}
#ok_h1 {
	margin-bottom: 20px;
}
#ok_h4-1, #ok_h4-2 {
	margin-top: 40px;
	margin-bottom: 20px;
}
#ok_table-1, #ok_table-2 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	text-align: center;
}
#ok_tr-th-1, #ok_tr-th-2, #ok_tr-td-1, #ok_tr-td-2 {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

#ok_reserveSearch {
	margin-top: 20px;
}

/*결제페이지*/


