<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.bus_reserve.mapper.PayMapper">
    <select id="getTime" resultType="string">
        SELECT sysdate
        FROM dual
    </select>

    <insert id="insertPay">
        insert into pay (pay_no, id, amount, payment_date, pay_status, card_no, birth, phone_no)
        values (#{payNo}, #{id}, #{amount}, sysdate, #{payStatus}, #{cardNo}, #{birth}, #{phoneNo})
    </insert>

    <resultMap id="userAndCardMap" type="com.kosta.bus_reserve.domain.UserVO">
        <id property="id" column="id"/>
        <result property="birth" column="birth"/>
        <result property="phoneNo" column="phone_no"/>
        <association property="myCardVO" javaType="com.kosta.bus_reserve.domain.MyCardVO">
            <id property="id" column="card_id"/>
            <result property="cardNo" column="card_no"/>
            <result property="cardName" column="card_name"/>
        </association>
    </resultMap>

    <select id="selectUserInfoAndCard" resultMap="userAndCardMap">
        select u.id, u.birth, u.phone_no, m.card_no, m.card_name
        from user_info u, mycard m
        where u.id = #{id}
          and u.id = m.id(+)
    </select>

    <select id = "getSeqPay" resultType="String">
        select seq_pay.nextval from dual
    </select>

</mapper>