<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.bus_reserve.mapper.ReserveMapper">
    <resultMap id="terminalResultMap" type="com.kosta.bus_reserve.domain.TerminalVO">
        <id property="terminalNo" column="terminal_no"/>
        <result property="terminalName" column="terminal_name"/>
        <result property="region" column = "region"/>
    </resultMap>
    <select id ="getTerminalList" resultMap = "terminalResultMap">
        SELECT * FROM terminal
    </select>

    <resultMap id="candidateResultMap" type="com.kosta.bus_reserve.domain.SearchedDispatch">
        <result property="startRegion" column="start_region"/>
        <result property="endRegion" column="end_region"/>
        <result property="startTerminal" column="start_terminal"/>
        <result property="endTerminal" column="end_terminal"/>
    </resultMap>
    <select id="getEndCandidate" resultMap = "candidateResultMap" parameterType="java.lang.String">
        SELECT distinct t.region start_region, t2.region end_region, t.terminal_name start_terminal, t2.terminal_name end_terminal
        FROM (dispatch_info di JOIN terminal t on di.start_point = t.terminal_no) JOIN terminal t2 on di.end_point = t2.terminal_no
        where t.terminal_name = #{terminalName}
    </select>

    <resultMap id="dispatchResultMap" type="com.kosta.bus_reserve.domain.SearchedDispatch">
        <id property="dispatchNo" column="dispatch_no" />
        <result property="busNo" column="bus_no" />
        <result property="busType" column="bus_type"/>
        <result property="totalSeat" column="total_seat"/>
        <result property="startPoint" column="start_point" />
        <result property="endPoint" column="end_point" />
        <result property="departureTime" column="departure_time" />
        <result property="startRegion" column="start_region"/>
        <result property="endRegion" column="end_region"/>
        <result property="startTerminal" column="start_terminal"/>
        <result property="endTerminal" column="end_terminal"/>
    </resultMap>
    <select id="getDispatchList" resultMap="dispatchResultMap">
        SELECT di.dispatch_no, di.bus_no, b.bus_type, b.total_seat ,di.start_point, di.end_point, di.departure_time, t.region start_region, t2.region end_region, t.terminal_name start_terminal, t2.terminal_name end_terminal
        FROM ((dispatch_info di JOIN terminal t on di.start_point = t.terminal_no) JOIN terminal t2 on di.end_point = t2.terminal_no) JOIN bus b on di.bus_no = b.bus_no
        WHERE t.terminal_name =#{startTerminal} AND t2.terminal_name = #{endTerminal}  AND to_char(departure_time, 'YYYY-MM-DD') = #{departureTime}
    </select>

    <resultMap type = "com.kosta.bus_reserve.domain.TicketVO" id = "ticketResultMap">
        <id property="ticketNo" column="ticket_no"/>
        <result property = "payNo" column="pay_no"/>
        <result property = "dispatchNo" column="dispatch_no"/>
        <result property = "id" column="id"/>
        <result property = "seatNo" column="seat_no"/>
        <result property = "ticketStatus" column="ticket_status"/>
    </resultMap>
    <select id ="getTickets" resultMap ="ticketResultMap" parameterType="java.lang.Integer">
        select * from ticket where dispatch_no = #{dispatchNo}
    </select>

<!--  유저아이디로 기존 이용 터미널 찾기  -->
    <select id ="getRecordsByUserId" resultMap="dispatchResultMap" parameterType="java.lang.String">
        select di.dispatch_no, di.bus_no, tm.terminal_name as start_terminal, tm2.terminal_name as end_terminal, tm.region as start_region, tm2.region as end_region
        from (((ticket tk join dispatch_info di on tk.dispatch_no = di.dispatch_no)
            join terminal tm on di.start_point = tm.terminal_no)
            join terminal tm2 on di.end_point = tm2.terminal_no)
        where tk.id = #{userId}
    </select>


    <!--예매내역 전체 조회-->
    <resultMap id="reserveListMap" type="com.kosta.bus_reserve.domain.ReserveList">
        <id property="id" column="id"/>
        <result property="amount" column="amount"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="ticketNo" column="ticket_no"/>
        <result property="ticketStatus" column="ticket_status"/>
        <result property="startTerminal" column="start_terminal"/>
        <result property="endTerminal" column="end_terminal"/>
        <result property="departureTime" column="departure_time"/>
        <result property="busType" column="bus_type"/>
    </resultMap>

    <select id="getMemberReserveList" resultMap="reserveListMap">
        SELECT p.id AS id, p.amount AS amount, p.payment_date AS payment_date,
               t.ticket_no AS ticket_no, t.ticket_status AS ticket_status,
               tm.terminal_name AS start_terminal, tm2.terminal_name AS end_terminal,
               di.departure_time AS departure_time, b.bus_type AS bus_type
        FROM pay p INNER JOIN ticket t ON p.pay_no = t.pay_no
                   INNER JOIN dispatch_info di ON di.dispatch_no = t.dispatch_no
                   INNER JOIN bus b ON b.bus_no = di.bus_no
                   INNER JOIN terminal tm ON di.start_point = tm.terminal_no
                   INNER JOIN terminal tm2 ON di.end_point = tm2.terminal_no
        WHERE p.id = #{id}
    </select>

</mapper>